* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background: #f1f1f1;
}

header {
    background: linear-gradient(135deg, #1d3557, #457b9d);
    color: white;
    text-align: center;
    padding: 30px;
}

header h1 {
    font-size: 40px;
}

header p {
    margin-top: 10px;
    font-size: 18px;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 25px;
    padding: 40px;
}

.card {
    background: rgb(255, 255, 255);
    width: 280px;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 8px 18px rgba(0,0,0,0.15);
    transition: 0.3s;
}

.card:hover {
    transform: translateY(-10px);
}

.card img {
    width: 100%;
    height: 350px;
    object-fit: cover;
}

.card h2 {
    text-align: center;
    color: #2b4b77;
    margin: 10px 0;
}

.card p {
    padding: 5px 15px;
    font-size: 14px;
}

.info {
    padding-bottom: 15px;
    color: #352d2d;
}

footer {
    background: #fffbfb;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 15px;
}
